.margin0{
    margin: 0;
  }
  .el-form-item{
    margin-bottom: 0
  }
  .report-list-float{
    float: left;
    width: 40%;
  }
  .el-input{
    display: inline-block;
    width: 148px;
  }
  .el-form-item{
    display: block;
  }
  .margin8{
    margin: 8px;
  }
  .card-header{
      position: relative;
  }
  .inquire_new{
      margin-top: 20px;
      width: 100px;
  }
  /* .el-date-editor .el-range-separator{
      padding: 0 !important;
  } */